.language-selector {
    display: flex;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
    font-size: 24px;
}
  
.flag-icon {
    width: 50px;
    height: 40px;
    margin-right: 8px;
}
