.logo {
    display: flex;
    justify-content: center;
}  


.logo h1 {
    font-family: 'Avenir', 'Proxima Nova', sans-serif;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    justify-content: center;
}

