.cart {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.cart-item {
  display: flex;
  border-bottom: 1px solid #ffffff;
  padding: 20px 0;
}

.cart-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
}

.item-details {
  flex-grow: 1;
  font-size: 20px;

}

.quantity-controls {
  display: flex;
  align-items: center;
}

.quantity-controls button {
  background: none;
  border: 1px solid #ffffff;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 20px;
}

.quantity-controls span {
  margin: 0 10px;
}

.remove-item {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
  font-size: 20px;
}

.cart-summary {
  margin-top: 20px;
  text-align: right;
  font-size: 20px;
}

.checkout-button {
  background: #000;
  color: #fff;
  padding: 20px 30px;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.cart h2 {
  font-weight: bolder;
  font-size: 40px;
  border-bottom: 2px solid #0000ff;
  padding-bottom: 10px;
}

.alert-message {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  animation: fadeIn 0.3s, fadeOut 0.3s 2.7s;
  z-index: 1000;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeOut {
  from { opacity: 1; transform: translateY(0); }
  to { opacity: 0; transform: translateY(20px); }
}
