.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgb(203, 203, 203);
}

.logo img {
  height: 40px;
}

.currency-selector select {
  padding: 0.5rem;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  font-size: 0.9rem;
}

.icons {
  display: flex;
  gap: 1rem;
}

.icon {
  font-size: 1.2rem;
  color: #333;
  cursor: pointer;
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
  .header {
      justify-content: space-between;
      padding: 0.5rem;
  }

  .logo img {
      height: 90px;
  }

  .currency-selector {
      display: none; /* Hide currency selector on mobile */
  }

  .icons {
      gap: 0.5rem;
  }

  .icon {
      font-size: 4.5rem;
  }

  .search-icon, .profile-icon, .cart-icon {
      font-size: 54px;
  }

  .header .logo {
      flex: 2;
      text-align: center;
  }

  .icon-wrapper {
      display: inline-block;
  }
}
